.login{
    width: 20%;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    text-align: center;
}

.login input{
    width: 78%;
    margin: auto;
    padding: 10px 0;
    outline: none;
    padding-left: 10px;
}

.login button{
    width: 82%;
    margin: auto;
    padding: 10px 10px;
    border: none;
    background-color: rgb(126, 161, 161);
    transition: 0.5s linear;
}

.login button:hover{
    background-color: teal;
    cursor: pointer;

}

